.jumbotron, .site-footer{
    margin: 0;
    padding: 0px;
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    flex-direction: column;

}


#logo-text{
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
}

#logo-text h1{
    font-family: caveat, cursive;
    font-size-adjust: inherit;
    margin-bottom: 0;
    padding-bottom: 0;
}

.modal-title{
    font-family: caveat,cursive;
    text-align: center;
    
}
.container h1{
    font-family: caveat, cursive;
    font-size-adjust: inherit;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 50px;
    
    
}

#logo-text h2{
    font-size-adjust: inherit;
    margin-top: 0;
    padding-top: 0;
    
}


#logo-image{
    height:fit-content;
    margin-right: 0;
    padding-right: 0;
}

.navbar-custom {
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    border-bottom: 3px;
    border-color: black;
    border-bottom-style: solid;
    color: black;
}

.row-content{
    border-bottom: black;
    border-bottom-style: ridge;
    padding-bottom: 20px;
    padding-top: 20px;
    border-width: 1px;


}

iframe{
    display: block;
    margin: auto;
}

.btn-link{
    color: white;
}


.site-footer{
        
        margin: 0;
        margin-bottom: -9999px;
        padding: 0px;
        background-color: #05e8ba;
        background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}

.card{
    margin: 5px;
    padding: 5px;
    margin: 10 5 10 5;
}

#more {display: none;
}
